.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 14px; 
    padding: 20px;
}

.card {
    width: 455px;
    height: 293px;
    box-sizing: border-box;
    margin-bottom: -3px;
    object-fit: fill;
}

@media(max-width:320px) {

    .card_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px;
        gap: 40px;
    }

    .card {
        width: 290px;
        height: 186.75px;
        box-sizing: border-box;
        margin-bottom: 5px;
        object-fit: fill;
    }
}