.modal_header {
    width: calc(100vw - 80px);
    height: 100px;
    background-color: #111;
    display: flex;
    position: relative;
    justify-content: center;
}

.modal_header_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.modal_header_p {
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
}

.btn_close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.box_img {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_footer {
    width: calc(100vw - 80px);
    height: 100px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.modal_footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.modal_footer_title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    margin-left: -15px; 
}

.modal_footer_p {
    color: #fff;
    font-size: 18px;
    margin-left: -15px; 

}

.modal_footer_btnBox {
    display: flex;
}

.modal_footer_btn {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.modal_footer_icon_p {
    font-size: 18px;
    color: #fff;
    padding-right: 10px;

}