.user_info_grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin-top: 90px;
}

.user_info {
    display: flex;
    flex-direction: column;
}
.p_name {
    font-size: 36px;
    color: #fff;
    margin-top: 37px;
    margin-bottom: 20px;
}

.a_email {
    display: flex;
    font-size: 18px;
    margin-bottom: 20px;
}

.flex_icon {
    display: flex;
    align-items: center;
}

.p_email {
    color: #fff;
    font-size: 18px;
    padding-left: 5px;
    text-decoration: underline;
}


@media(max-width:320px) {

    .user_info_grid {
        display: grid;
        grid-template-columns: 0fr 2fr 1fr;
    }

    .p_name {
        font-size: 18px;
        color: #fff;
        text-align: left;
        margin: 50px 15px 20px 15px;
    }    
    
    .a_email {
        display: flex;
        justify-content: center;
        text-align: left;
        margin-bottom: 20px;
        font-size: 14px;
        padding-left: 15px;
    }

    .p_email {
        font-size: 14px;
    }
    
}